<div class="jumbotron">
  <h1 class="display-4">About BuddyTracker App</h1>
  <p class="lead">Rails App Specs
  -Ruby 2.7
  -Rails 6.1.3
  -OS Windows 8.1
  - Devise Gem</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>