<div class="container">
    <Br>
    <div class="jumbotron">
  <h1 class="display-4">BuddyTracker | App</h1>
  <p class="lead">A Simple Rails 6 |C.R.U.D| App deployed on Heroku | Users Can Sign Up and Add > Edit > Destroy Friends.</p>
  <hr class="my-4">
</div>
</div>